<h1>Messages</h1>

<%= form_tag destroy_multiple_messages_path, method: :delete do %>
  <% @messages.each do |message| %>
    <div>
      <%= check_box_tag "message_ids[]", message.id %>
      <%= message.content %>
    </div>
  <% end %>

  <%= submit_tag "Delete Selected Messages" %>
<% end %>